{% extends "base.html" %}

{% block description %}
  Piper Thunstrom's Blog
{% endblock %}

{% block additional_styles %}
  <link href="{% asset "styles/article-summary.css" %}" type="text/css" rel="stylesheet">
{% endblock %}

{% block body %}
  <p>These are my latest posts.</p>
  <ul class="article-list">
    {% for post in posts %}
      <li>
        {% with view_name = "post", article = post %}
          {% include 'components/article-summary.html' with context %}
        {% endwith %}
      </li>
    {% endfor %}
  </ul>
{% endblock %}
