body, article, p, div {
    font-family: 'Comfortaa', cursive;
    font-size: 18px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Bree Serif', serif;
}

pre {
    font-family: 'Source Code Pro', monospace;
}
