<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>
    {% block title %}{{ site_title }}{% if page_title %} - {{ page_title }}{% endif %}{% endblock %}
  </title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="{% asset "reset.css" %}" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Bree+Serif&family=Comfortaa&family=Source+Code+Pro&display=swap" rel="stylesheet">
  <link href="{% asset "styles.css" %}" type="text/css" rel="stylesheet">
  <link rel="icon" href="{% asset "img/avatars/piper.jpeg" %}" type="image/x-icon" />
</head>
<body>
  {% include "components/main-header.html" %}
  <div class="body-content">
    {% block body %}{% endblock %}
  </div>
  {% include "components/main-nav.html" %}
</body>
</html>
