<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>
    {% block title %}{{ site_title }}{% if page_title %} - {{ page_title }}{% endif %}{% endblock %}
  </title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="{{ base_path }}static/reset.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Bree+Serif&family=Comfortaa&family=Source+Code+Pro&display=swap" rel="stylesheet">
  <link href="{{ base_path }}static/styles.css" type="text/css" rel="stylesheet">
</head>
<body>
  {% include "components/main-header.html" %}
  {% block body %}{% endblock %}
</body>
</html>
