<article class="{% if class %}{{ class }}{% else %}post{% endif %}" id="{{ article.slug }}">
  <header class="image-container"><img src="{% asset article.header.path %}" width=1200 height=627 alt="{{ article.header.alt }}"></header>
  <section>
    <h2>{{ article.title }}</h2>
    <div class="article-content">
        {{ article.content | safe }}
    </div>
  </section>
  <footer>
    {% with author = article.author %}
      {% include "components/author.html" %}
    {% endwith %}
  </footer>
</article>
