section.article-summary {
    max-width: 100%;
    border-top: 2px solid var(--text-background);
    padding: 1em;
    margin-top: 1.5em;
    transition: background-color ease-in 0.25s;
    border-radius: 5px;
}

section.article-summary:hover {
    background-color: var(--background-highlight);
    transition: background-color ease-in 0.25s;
}

a.article-summary {
    text-decoration: none;
    color: var(--text-color);
    font-weight: normal;
}

.article-summary .summary-header {
    max-width: 90%;
    height: auto;
    margin-left: 5%;
    border-radius: 5px;
    object-fit: cover;
}

.article-summary h1 {
    font-size: 1.5rem;
}

@media screen and (min-width: 1025px) {
    .article-summary {
        margin: 1em;
    }
}